body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Roboto, Arial, PingFang SC, Hiragino Sans GB, Microsoft Yahei, Microsoft Jhenghei, sans-serif;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none;
}

a:hover {
    color: #cd0200;
    text-decoration: underline;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    word-wrap: break-word;
}

body {
    max-width: 1440px;
    min-width: 900px;
    margin: auto;
}

.homepage-header {
    background: #333333;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    font-size: 0.9rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 2.5rem;
}

.homepage-header .homepage-hd-help {
    width: 40%;
    float: left;
    padding-left: 4.25rem;
    overflow: hidden;
}

.homepage-header .homepage-hd-help span {
    float: left;
    padding: 0 1.25rem;
}

.homepage-header .homepage-hd-login {
    width: 40%;
    float: right;
    padding-right: 4.4rem;
    overflow: hidden;
}

.homepage-header .homepage-hd-login span {
    float: right;
    padding: 0 0.75rem;
}

.homepage-header .homepage-hd-login .homepage-mine {
    border-right: solid 0.05rem #FFFFFF;
    height: 1rem;
    line-height: 1rem;
    padding: 0;
    margin-top: 0.75rem;
}

.homepage-search {
    overflow: hidden;
    height: 5.9rem;
    line-height: 5.9rem;
}

.homepage-search .homepage-sch-logo {
    overflow: hidden;
    display: inline-block;
}

.homepage-search .homepage-sch-logo img,
.homepage-search .homepage-sch-logo p {
    float: left;
}

.homepage-search .homepage-sch-logo img {
    width: 15rem;
    padding: 1rem;
    margin-left: 4.25rem;
}

.homepage-search .homepage-sch-logo p {
    font-size: 1.2rem;
    color: #888888;
    letter-spacing: 0;
}

.homepage-search .homepage-sch-sch {
    line-height: 2rem;
    display: inline-block;
    float: right;
    margin-right: 4.8rem;
    overflow: hidden;
    margin-top: 2rem;
    position: relative;
}

.homepage-search .homepage-sch-sch input {
    background: rgba(255, 255, 255, 0.2);
    border: 0.05rem solid #BBBBBB;
    width: 21rem;
    height: 1.9rem;
    float: right;
}

.homepage-search .homepage-sch-sch span {
    width: 4.55rem;
    text-align: center;
    background: #B93A2B;
    font-size: 0.8rem;
    color: #FFFFFF;
    letter-spacing: 0;
    float: right;
}

.homepage-search .homepage-sch-sch img {
    margin-left: 1rem;
    position: absolute;
    margin-top: 0.5rem;
}

.homepage-bigbacg {
    width: 62.5rem;
    margin: auto;
}

.homepage-bigbacg .homepage-bigbacg-navigation {
    background: #B93A2B;
    height: 4rem;
    line-height: 4rem;
    overflow: hidden;
}

.homepage-bigbacg .homepage-bigbacg-navigation span {
    font-size: 1.3rem;
    color: #FFFFFF;
    letter-spacing: 0;
    float: right;
    padding: 0 2.4rem;
}

.homepage-bigbacg .homepage-bigbacg-navigation .homepage-navigation-active,
.homepage-bigbacg .homepage-bigbacg-navigation span:active {
    background: #ECAD14;
}

.hp-right-navigation {
    width: 4.05rem;
    position: fixed;
    right: 0;
    top: 1rem;
}

.hp-right-navigation .hp-right-block {
    background: #EEEEEE;
    border-radius: 0.1rem;
    height: 4rem;
    margin-top: 0.25rem;
}

.hp-right-navigation .hp-right-block img {
    text-align: center;
    width: 1.6rem;
    margin: 0.65rem 0 0.3rem 0;
}

.hp-right-navigation .hp-right-block div {
    width: 100%;
    text-align: center;
}

.hp-footer {
    background: #333333;
    margin-top: 2.5rem;
}

.hp-footer .hp-footer-declare {
    padding: 1rem 0;
}

.hp-footer .hp-footer-declare p {
    font-size: 0.6rem;
    color: #BBBBBB;
    text-align: center;
    padding: 0.25rem 0;
}

.container {
    width: 62.5rem;
    margin: auto;
    overflow: hidden;
}

.container .left-cont {
    width: 11.5rem;
    float: left;
}

.container .right-cont {
    width: 51rem;
    float: right;
}

.left-cont {
    background-image: linear-gradient(-134deg, #676767 0%, #393939 100%);
}

.left-first {
    width: 100%;
    text-align: center;
}

.left-photo {
    width: 5.9rem;
    height: 5.9rem;
    border-radius: 50%;
    border: 0.15rem solid #ffffff;
    margin: 1.8rem auto;
    background-image: url(../img/register-success.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.left-name {
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
}

.left-id {
    font-size: 0.8rem;
    color: #888888;
    letter-spacing: 0;
    padding: 1rem;
}

.left-subscribe {
    width: 4.5rem;
    height: 1.9rem;
    line-height: 1.9rem;
    background: #ECAD14;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0.5rem auto 1.5rem;
}

.left-line {
    background-image: linear-gradient(90deg, #ECAD14 0%, #B93A2B 100%);
    width: 100%;
    height: 0.25rem;
}

.left-second {
    height: 60rem;
    width: 100%;
    background-color: #333333;
}

.left-second .h-my-active,
.left-second div:active {
    color: #ECAD14;
}

.left-second-h {
    width: 100%;
    font-size: 1.4rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding-top: 3rem;
    line-height: 2.25rem;
}

.h-my {
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 2.25rem;
}

.right-cont {
    background-color: #ffffff;
    overflow: hidden;
}

.bigline {
    background: #F7F7F7;
    width: 100%;
    height: 0.75rem;
    clear: both;
}

.right-head {
    font-size: 1.2rem;
    color: #000000;
    letter-spacing: 0;
    margin: 3.25rem 0 1.5rem 1.1rem;
    border-bottom: 1px solid #DBDBDB;
}

.right-head .business {
    width: 10.75rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    display: inline-block;
}

.right-head .click {
    background: #ECAD14;
    color: #FFFFFF;
}

.deal-buy {
    float: left;
    width: 45%;
    margin: 2.5rem 0 0 2.85rem;
    margin-top: 2.5rem;
    display: inline-block;
}

.deal-buy .deal-list {
    font-size: 1rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 3.25rem;
}

.deal-buy .buy .buy-into {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0.1rem;
    font-size: 0.9rem;
    color: #888888;
    letter-spacing: 0;
}

.deal-buy .buy-span {
    color: #151515;
    letter-spacing: 0;
    line-height: 1.4rem;
}

.deal-buy .deal-buy-money {
    font-size: 1rem;
    color: #151515;
    letter-spacing: 0;
    line-height: 1.4rem;
}

.buy-choice {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.buy-choice .percent {
    margin-right: 1rem;
    display: inline-block;
    position: relative;
}

.buy-choice .percent div {
    box-sizing: content-box;
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid #BBBBBB;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.buy-choice .percent .buy-click {
    width: 0.3rem;
    height: 0.3rem;
    border: 0.35rem solid #EE6858;
}

.buy-choice span {
    margin-left: 1.5rem;
    font-size: 0.9rem;
    color: #333333;
    letter-spacing: 0;
}

.right-big {
    overflow: hidden;
}

.deal-present {
    float: right;
    width: 21.5rem;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-top: 2.1rem;
    margin-right: 3.2rem;
}

.deal-present .present-head {
    background: #F2F2F2;
    width: 21.5rem;
    height: 2.5rem;
    overflow: hidden;
    position: relative;
}

.deal-present .present-head .present-head-left {
    font-size: 0.9rem;
    color: #333333;
    letter-spacing: 0;
    margin-left: 1.2rem;
    line-height: 2.5rem;
    display: inline-block;
}

.deal-present .present-head .present-head-p {
    float: right;
    font-size: 0.9rem;
    color: #E41800;
    letter-spacing: 0;
    margin-right: 3.85rem;
    line-height: 2.5rem;
}

.deal-present .present-head .present-head-p img {
    width: 1.3rem;
    height: 1.3rem;
}

.deal-present .present-head .present-head-right {
    font-size: 0.6rem;
    color: #E41800;
    letter-spacing: 0;
    line-height: 1rem;
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translate(0, -50%);
}

.present-detailed {
    width: 21.5rem;
    overflow: hidden;
}

.present-detailed .present-detailed-left {
    width: 56%;
    float: left;
    border-right: 0.1rem solid #DDDDDD;
    margin: 0.75rem 0;
}

.present-detailed .present-detailed-left .detailed-left-up {
    text-align: center;
    margin-top: 0.75rem;
}

.present-detailed .present-detailed-left .detailed-left-up .detailed-left-first {
    font-size: 0.6rem;
    color: #333333;
    letter-spacing: 0;
    margin: 0.6rem auto;
}

.present-detailed .present-detailed-left .detailed-left-up .detailed-left-first span {
    margin-right: 0.6rem;
}

.present-detailed .present-detailed-left .detailed-left-up .detailed-left-first .detailed-nub {
    color: #E41800;
}

.present-detailed .present-detailed-left .detailed-left-up .detailed-left-first .detailed-black {
    color: #333333;
}

.present-detailed .present-detailed-left .detailed-left-up .detailed-left-first .detailed-last {
    color: #01983B;
}

.present-detailed .present-detailed-right {
    width: 40%;
    float: right;
    margin-top: 0.6rem;
}

.present-detailed .present-detailed-right .detailed-right-first {
    font-size: 0.6rem;
    color: #333333;
    letter-spacing: 0;
    margin-top: 0.85rem;
    padding-left: 1rem;
}

.present-detailed .present-detailed-right .detailed-right-first .detailed-nub {
    color: #E41800;
}

.present-detailed .present-detailed-right .detailed-right-first .detailed-last {
    color: #01983B;
}

.detailed-left-line {
    width: 80%;
    border: 1px solid #DDDDDD;
    margin: 1.1rem auto;
}

.deal-rule {
    width: 21.5rem;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    float: left;
    margin: 3rem 0 2.7rem 0.4rem;
}

.deal-rule .deal-rule-head {
    border-bottom: 1px solid #DDDDDD;
    height: 2.3rem;
    line-height: 2.3rem;
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.deal-rule .deal-rule-head img {
    width: 1rem;
    height: 0.75rem;
    position: absolute;
    top: 50%;
    right: 0.4rem;
    transform: translate(0, -50%);
}

.deal-rule .deal-rule-head .rule-head-rule {
    font-size: 0.8rem;
    color: #333333;
    letter-spacing: 0;
    float: left;
    padding-left: 0.25rem;
}

.deal-rule .deal-rule-head .rule-head-details {
    font-size: 0.7rem;
    color: #01983B;
    letter-spacing: 0;
    float: right;
    margin-right: 2rem;
}

.deal-rule .right-rule-time {
    padding: 1rem 0 1rem 1rem;
}

.deal-rule .right-rule-time .deal-rule-time {
    font-size: 0.6rem;
    color: #888888;
    letter-spacing: 0;
    margin-bottom: 0.25rem;
}

.third-one {
    overflow: hidden;
    border-bottom: 0.05rem solid #CCCCCC;
    margin-bottom: 2rem;
    margin-left: 0.75rem;
    width: 95%;
}

.third-one div {
    display: inline-block;
    float: left;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0;
    margin-top: 2.05rem;
    width: 6.6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: #ECAD14;
}

.right-table {
    width: 95%;
    margin-left: 0.75rem;
}

.right-table thead {
    background: #333333;
}

.right-table thead th {
    font-size: 0.9rem;
    color: #FFFFFF;
    letter-spacing: 0;
    height: 3rem;
    line-height: 3rem;
    border: 0.05rem solid #333333;
}

.deal-no {
    margin-top: 3rem;
    text-align: center;
}

.deal-no img {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 1.5rem;
}

.exchange-hour,
.deal-no {
    font-size: 0.9rem;
    color: #888888;
    letter-spacing: 0;
}

.hp-footer {
    margin: 0;
}

.deal-buy .deal-buy-input {
    width: 10rem;
    height: 1.6rem;
    font-size: 0.9rem;
    line-height: 3rem;
    border: 0.03rem solid #CCCCCC;
    border-radius: 0.2rem;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
}

.deal-buy-btn {
    width: 23rem;
    height: 3rem;
    line-height: 3rem;
    margin: auto;
    font-size: 1.2rem;
    color: #FFFFFF;
    letter-spacing: 0;
    background: #B93A2B;
    border: 0.03rem solid #CCCCCC;
    border-radius: 0.4rem;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
    text-align: center;
}

.chart1 {
    height: 10rem;
    width: 10rem;
}

.chart2 {
    height: 10rem;
}

/*# sourceMappingURL=deal.css.map */
