@import 'common.less';

body {
    background-color: #ffffff;
}



.homepage-bigbacg-bigbacg {
        overflow: hidden;
    width: 62.5rem;
    margin: auto;
        img {
            width: 1250/@rem;
            height: 600/@rem;
        }
    }

.hp-dh-list {
    margin-top: 80/@rem;
    .hp-dh-list-bg {
        display: inline-block;
        overflow: hidden;
        img {
            width: 333/@rem;
            margin-left: 90/@rem;
            float: left;
        }
    }
    .hp-dh-list-list {
        width: 707/@rem;
        height: 140/@rem;
        border: 1/@rem solid #D4D4D4;
        border-top: 6/@rem solid #EE6858;
        float: right;
        display: inline-block;
        margin-right: 200/@rem;
        div {
            font-size: 18/@rem;
            color: #4B4B4B;
            letter-spacing: 0;
            margin-top: 16/@rem;
            padding-left: 20/@rem;
        }
    }
}

.hp-recommend {
    width: 1250/@rem;
    margin: 90/@rem auto;
    .hp-recommend-header {
        .hp-recommend-header-img2 {
            width: 60/@rem;
        }
        .hp-recommend-header-img3 {
            width: 90/@rem;
        }
        div {
            display: inline-block;
            margin-right: 20/@rem;
        }
        img {
            margin-bottom: 15/@rem;
        }
        .hp-recommend-day {
            font-size: 30/@rem;
            color: #4B4B4B;
            letter-spacing: 0;
        }
        .hp-recommend-time {
            font-size: 17/@rem;
            color: #999999;
            letter-spacing: 0;
        }
    }
}

.hp-recommend-line {
    border: 1/@rem solid #C5C5C5;
    width: 92%;
    margin: auto;
}

.hp-declare {
    width: 100%;
    margin-top: 75/@rem;
    p {
        font-size: 15/@rem;
        color: #909090;
        letter-spacing: 0;
        text-align: center;
        padding: 3/@rem 0;
    }
}

.hp-recommend-table {
    width: 100%;
    border: 1/@rem solid #D4D4D4;
    thead {
        background: #EE6858;
        font-size: 26/@rem;
        color: #FFFFFF;
        tr {
            height: 65/@rem;
        }
        th {
            text-align: center;
            font-size: 26/@rem;
            color: #FFFFFF;
            border: 1/@rem solid #EE6858;
            font-weight: normal;
            width: 16%;
        }
    }
    tbody {
        tr {
            height: 65/@rem;
            &:nth-of-type(even){
                background-color: #EEEEEE;
            }
        }
        th {
            font-size: 20/@rem;
            color: #FFFFFF;
            background-image: url(../img/account.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 35/@rem;
        }
        td {
            font-size: 24/@rem;
            text-align: center;
            color: #333;
            .dy {
                display: inline-block;
                width: 100/@rem;
                color: #ffffff;
                font-size: 22/@rem;
                height: 40/@rem;
                line-height: 40/@rem;
                background: #ECAD14;
                border-radius: 4/@rem;
            }
        }
    }
    .text-strong {
        color: #ED1C03;
    }
}