body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Roboto, Arial, PingFang SC, Hiragino Sans GB, Microsoft Yahei, Microsoft Jhenghei, sans-serif;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  color: #cd0200;
  text-decoration: underline;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
body {
  max-width: 1440px;
  min-width: 900px;
  margin: auto;
}
.homepage-header {
  background: #333333;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  font-size: 0.9rem;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 2.5rem;
}
.homepage-header .homepage-hd-help {
  width: 40%;
  float: left;
  padding-left: 4.25rem;
  overflow: hidden;
}
.homepage-header .homepage-hd-help span {
  float: left;
  padding: 0 1.25rem;
}
.homepage-header .homepage-hd-login {
  width: 40%;
  float: right;
  padding-right: 4.4rem;
  overflow: hidden;
}
.homepage-header .homepage-hd-login span {
  float: right;
  padding: 0 0.75rem;
}
.homepage-header .homepage-hd-login .homepage-mine {
  border-right: solid 0.05rem #FFFFFF;
  height: 1rem;
  line-height: 1rem;
  padding: 0;
  margin-top: 0.75rem;
}
.homepage-search {
  overflow: hidden;
  height: 5.9rem;
  line-height: 5.9rem;
}
.homepage-search .homepage-sch-logo {
  overflow: hidden;
  display: inline-block;
}
.homepage-search .homepage-sch-logo img,
.homepage-search .homepage-sch-logo p {
  float: left;
}
.homepage-search .homepage-sch-logo img {
  width: 15rem;
  padding: 1rem;
  margin-left: 4.25rem;
}
.homepage-search .homepage-sch-logo p {
  font-size: 1.2rem;
  color: #888888;
  letter-spacing: 0;
}
.homepage-search .homepage-sch-sch {
  line-height: 2rem;
  display: inline-block;
  float: right;
  margin-right: 4.8rem;
  overflow: hidden;
  margin-top: 2rem;
  position: relative;
}
.homepage-search .homepage-sch-sch input {
  background: rgba(255, 255, 255, 0.2);
  border: 0.05rem solid #BBBBBB;
  width: 21rem;
  height: 1.9rem;
  float: right;
}
.homepage-search .homepage-sch-sch span {
  width: 4.55rem;
  text-align: center;
  background: #B93A2B;
  font-size: 0.8rem;
  color: #FFFFFF;
  letter-spacing: 0;
  float: right;
}
.homepage-search .homepage-sch-sch img {
  margin-left: 1rem;
  position: absolute;
  margin-top: 0.5rem;
}
.homepage-bigbacg {
  width: 62.5rem;
  margin: auto;
}
.homepage-bigbacg .homepage-bigbacg-navigation {
  background: #B93A2B;
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
}
.homepage-bigbacg .homepage-bigbacg-navigation span {
  font-size: 1.3rem;
  color: #FFFFFF;
  letter-spacing: 0;
  float: right;
  padding: 0 2.4rem;
}
.homepage-bigbacg .homepage-bigbacg-navigation .homepage-navigation-active,
.homepage-bigbacg .homepage-bigbacg-navigation span:active {
  background: #ECAD14;
}
.hp-right-navigation {
  width: 4.05rem;
  position: fixed;
  right: 0;
  top: 1rem;
}
.hp-right-navigation .hp-right-block {
  background: #EEEEEE;
  border-radius: 0.1rem;
  height: 4rem;
  margin-top: 0.25rem;
}
.hp-right-navigation .hp-right-block img {
  text-align: center;
  width: 1.6rem;
  margin: 0.65rem 0 0.3rem 0;
}
.hp-right-navigation .hp-right-block div {
  width: 100%;
  text-align: center;
}
.hp-footer {
  background: #333333;
  margin-top: 2.5rem;
}
.hp-footer .hp-footer-declare {
  padding: 1rem 0;
}
.hp-footer .hp-footer-declare p {
  font-size: 0.6rem;
  color: #BBBBBB;
  text-align: center;
  padding: 0.25rem 0;
}
.container {
  width: 62.5rem;
  margin: auto;
  overflow: hidden;
}
.container .left-cont {
  width: 11.5rem;
  float: left;
}
.container .right-cont {
  width: 51rem;
  float: right;
}
.subscribe-container {
  margin: 5rem 0 2.65rem 5.9rem;
  height: 6rem;
}
.subscribe-steps {
  width: 70%;
  position: relative;
  border-top: 1px solid #979797;
}
.subscribe-steps .steps-refer-box {
  position: absolute;
  top: -0.6rem;
}
.subscribe-steps .first-refer {
  left: 3rem;
}
.subscribe-steps .second-pay {
  left: 18rem;
}
.subscribe-steps .third-complete {
  left: 33rem;
}
.subscribe-steps .steps-refer {
  font-size: 1.2rem;
  color: #888;
  letter-spacing: 0;
  margin-top: 1.7rem;
}
.subscribe-steps .steps-circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #D8D8D8;
  margin: auto;
}
.subscribe-steps .steps-refer-active .steps-refer {
  color: #333;
}
.subscribe-steps .steps-refer-active .steps-circle:before {
  content: '';
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: rgba(236, 173, 20, 0.4);
  margin: auto;
  position: absolute;
  z-index: 2;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subscribe-steps .steps-refer-active .steps-circle:after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #ECAD14;
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first-refer,
.second-pay,
.third-complete {
  display: inline-block;
  text-align: center;
}
.left-cont {
  background-image: linear-gradient(-134deg, #676767 0%, #393939 100%);
}
.subscription-list {
  width: 70%;
  height: 9.45rem;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  margin: 0 0 6.2rem 5.2rem;
  overflow: hidden;
  position: relative;
}
.subscription-list .subscription-yes {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
.subscription-list .subscription-yes .congratulate-img {
  text-align: center;
  margin: auto;
  display: inline-block;
}
.subscription-list .subscription-yes .congratulate-img img {
  width: 5rem;
  height: 5rem;
}
.subscription-list .subscription-yes .congratulate-total {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 6.25rem;
  transform: translate(0, -50%);
}
.subscription-list .subscription-yes .congratulate-total .congratulate-first {
  font-size: 1.2rem;
  color: #333333;
  letter-spacing: 0;
}
.subscription-list .subscription-yes .congratulate-total .congratulate-second {
  font-size: 0.9rem;
  color: #888888;
  letter-spacing: 0;
}
.hp-footer {
  margin: 0;
}
/*# sourceMappingURL=subscribe-third-steps.css.map */
