/*最上面的头部*/
.jx_head_top{
    width:100%;
    height: 50px;
    background: #333333;
}
/*header开始*/
.jx_hd{
    height: 50px;
    background: #333;
}
/*heder左边title*/
.jx_head_title{
    height: 100%;
}
.jx_head_title > li{
    display: inline-block;
    padding-right: 50px;
}
.jx_head_title li:first-of-type{
    padding-left: 10px;
}
.jx_hd a{
    display: block;
    font-size: 15px;
    line-height: 50px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: "PingFangSC-Regular";
}
/*header右边login*/
.jx_head_login{
    height: 100%;
}
.jx_head_login > li{
    display: inline-block;
    padding-left: 10px;
}
.jx_head_login .shu{
    font-size: 16px;
    color: #979797;
}
.jx_head_login li:last-of-type{
    padding-left: 30px;
    padding-right: 10px;
}
/*下面的Logo*/
.jx_nav{
    width: 100%;
}
/*左边的logo*/
.jx_logo .jx_logo_left{
    height:125px;
}
.jx_logo_left li{
    float: left;
    padding-right: 25px;
}
.jx_logo_left li:first-of-type{
    display: inline-block;
    width: 312px;
    height: 100%;
    padding-left: 10px;
}
.jx_logo_left li:first-of-type > a{
    display: block;
    width: 100%;
    height: 118px;
    background-image:url("../images/logo.png");
    background-size: 312px 118px;
    text-indent: -9999px;
}
.jx_logo_title{
    font-family: "楷体";
    font-size: 24px;
    color: #888888;
    letter-spacing: 0;
    line-height: 125px;
}
/*右边的搜索*/
.jx_search{
    line-height: 125px;
    padding-right: 10px;
    height: 125px;
}
.jx_search_text{
    width: 418px;
    height:40px;
    border: 1px solid #BBBBBB;
    line-height:120px;
    border-radius: 5px;
    background: rgba(255,255,255,0.20);
}
.jx_search_btn{
    width: 91px;
    height: 40px;
    background: #B93A2B;
    color: #FFFFFF;
    letter-spacing: 0;
    font-family: PingFangSC-Regular;
    font-size: 14px;
}
/*nav信息*/
.jx_nav_title{
    background: #B93A2B;
    height: 70px;
}
.jx_nav_text{
    height:100%;
}
.jx_nav_text li{
    display: inline-block;
    height: 100%;
    line-height: 70px;
    font-family: PingFangSC-Medium;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 62.5px;
    padding-right: 50.5px;
}
.jx_nav_text li:first-of-type{
    background: #ECAD14;
}