<html>

<head>
	<link rel="stylesheet" type="text/css" href="/public/css/bussiness.css" />

</head>

<body>
	<div class="homepage-header">
		<div class="homepage-hd-help">
			<span>帮助</span>
			<span>APP下载</span>
			<span>加入收藏</span>
			<span>东方财富网</span>
		</div>
		<div class="homepage-hd-login">
			<span>我的账户</span>
			<span>注册</span>
			<span class="homepage-mine"></span>
			<span>登录</span>
		</div>
	</div>
	<div class="homepage-search">
		<div class="homepage-sch-logo">
			<img src="/public/img/logo.png" />
			<p>国内最大的股票模拟平台</p>
		</div>
		<div class="homepage-sch-sch">
			<span>高手搜索</span>
			<input type="text" name="" id="" value="" />
			<img src="/public/img/Search.png" />
		</div>
	</div>
	<div class="homepage-bigbacg">
		<div class="homepage-bigbacg-navigation">
			<span class="homepage-navigation-active">我的</span>
			<span>我要参赛</span>
			<span>模拟排行榜</span>
			<span>首页</span>
		</div>
	</div>

	<div class="hp-right-navigation">
		<div class="hp-right-block">
			<div>
				<img src="/public/img/custom-service.png" />
			</div>
			<div>客服</div>
		</div>
		<div class="hp-right-block">
			<div>
				<img src="/public/img/share3.png" />
			</div>
			<div>分享</div>
		</div>
		<div class="hp-right-block">
			<div>
				<img src="/public/img/info.png" />
			</div>
			<div>消息</div>
		</div>
		<div class="hp-right-block">
			<div>
				<img src="/public/img/public.png" />
			</div>
			<div>公众号</div>
		</div>
		<div class="hp-right-block">
			<div>
				<img src="/public/img/app.png" />
			</div>
			<div>APP</div>
		</div>
	</div>
	<div class="container">
		<div class="left-cont">
			<div class="left-first">
				<div class="left-photo"></div>
				<div class="left-name">秋山股海</div>
				<div class="left-id">用户id: 3480034141</div>
				<div class="left-subscribe">订阅</div>
			</div>
			<div class="left-line"></div>
			<div class="left-second">
				<div class="left-second-h">TA的交易</div>
				<div class="h-my h-my-active">我的持仓</div>
				<div class="h-my">交易</div>
				<div class="left-second-h">我的交易</div>
				<div class="h-my">我的钱包</div>
				<div class="h-my">我的订阅</div>
				<div class="h-my">我的订单</div>
			</div>
		</div>
		<div class="right-cont">
			<div class="right-first">
				<div class="right-revenue">
					<div class="right-h1">总收益：<span>10000</span></div>
					<div class="right-firstline"></div>
					<ul class="right-firstul">
						<li>总资产：<span>25W</span></li>
						<li>可用资金：<span>10W</span></li>
						<li>周收益率：<span>10%</span></li>
						<li>月收益率：<span>10%</span></li>
						<li>周冠军次数：<span>10%</span></li>
					</ul>
				</div>
				<div class="right-ranking">
					<div class="right-h1">总收益排名：<span>1</span></div>
					<div class="right-firstline one"></div>
					<ul class="right-secondul">
						<li>当日收益率：<span>10%</span></li>
						<li>当日盈亏：<span>10%</span></li>
						<li>周排行：<span>1</span></li>
						<li>月排行：<span>1</span></li>
						<li>月冠军次数：<span>1</span></li>
					</ul>
				</div>
				<div class="right-chart ">
					<div class="right-firstline two"></div>
					<div class="right-curve"></div>
					<div class="curve-percent">
						<div>本周击败了<span>99</span>%的高手</div>
						<div>本周击败了<span>99</span>%的高手</div>
					</div>
				</div>
			</div>
			<div class="bigline"></div>
			<div class="right-second">
				<div class="first-round"></div>
				<div class="second-round"></div>
				<ul class="second-explain">
					<li>盈利笔数：<span>5</span>笔</li>
					<li>亏损笔数：<span>0</span>笔</li>
					<li>成功率：<span>100</span>%</li>
					<li>交易频率：<span>1.1</span>（天/次）</li>
				</ul>
			</div>
			<div class="bigline"></div>
			<div class="right-third">
				<div class="third-one">
					<div class="now-active">当日持仓</div>
					<div>单日委托</div>
					<div>单日成交</div>
					<div>历史成绩</div>
					<div>对账单</div>
				</div>
				<div class="third-time">
					<div class="time">从<input type="date" value="2016-09-09" />到<input type="date" value="2016-09-09" /></div>
					<div class="inquiry">查询</div>
				</div>
				<table class="right-table">
					<thead>
						<tr>
							<th>序号</th>
							<th>代码</th>
							<th>买入/买出</th>
							<th>成交价格</th>
							<th>成交数量</th>
							<th>成交金额</th>
							<th>成交时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>1</th>
							<td>***</td>
							<td class="red">***</td>
							<td class="red">***</td>
							<td class="red">***</td>
							<td class="red">--</td>
							<td class="exchange-hour">2017-04-07 13:30:41</td>
						</tr>
						<tr>
							<th>2</th>
							<td>***</td>
							<td class="red">***</td>
							<td class="red">***</td>
							<td class="red">***</td>
							<td class="red">--</td>
							<td class="exchange-hour">2017-05-07 13:30:41</td>
						</tr>
						<tr>
							<th>3</th>
							<td>***</td>
							<td class="red">卖出</td>
							<td class="red">***</td>
							<td class="red">***</td>
							<td class="red">--</td>
							<td class="exchange-hour">2017-05-07 13:23:42</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="hp-footer">
		<div class="hp-footer-declare">
			<p>
				客户服务热线：4006900000-2-2 欢迎批评指正
			</p>
			<p>
				常见问题解答 互联网违法和不良信息举报 金修意见反馈留言板
			</p>
			<p>
				金修简介 | About Sina | 广告服务 | 联系我们 | 招聘信息 | 网站律师 | JINXIU English | 通行证注册 | 产品答疑
			</p>
			<p>
				Copyright © 1996-2017 JINXIU Corporation, All Rights Reserved
			</p>
			<p>
				金修金融公司　版权所有
			</p>
		</div>
	</div>
</body>
<script src="/public/js/rem.js" type="text/javascript" charset="utf-8"></script>

</html>