{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/public/css/typehead.css">
<script type="text/javascript" src="/public/js/bloodhound.min.js"></script>
<script type="text/javascript" src="/public/js/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="/public/js/typeahead.jquery.min.js"></script>
<script>
    $(document).ready(
        function () {
            // init
            (function () {
                console.log('init...');
                $("span[id^='v-']").html("--")
            }());

            //定时刷新
            self.setInterval(function () {
                var code = $("#stockCode").val()
                if (code != "") {
                    var url = $("#webpath").val() + "/stock/" + code
                    $.getJSON(url, function (data) {
                        var arr = data.data.split(",")
                        if (data.code == "200" && arr.length > 3 && $("#cp").val() != arr[3]) {
                            console.log("get stock :" + code + " ok")
                            $("#buyPrice").val(arr[21]);

                            $("#v-stockCode").html(code);
                            $("#v-stockName").html(arr[0]);
                            $("#v-currentPrice").html(arr[3]);
                            $("#v-openPrice").html(arr[1]);
                            $("#v-closePrice").html(arr[2]);
                            $("#v-highPrice").html(arr[4]);
                            $("#v-lowPrice").html(arr[5]);


                            $("#v-float").html(customerAdd(arr[3], arr[1], -1,2)); //涨幅
                            $("#v-floatRate").html(customDivide(customerAdd(arr[3], arr[1], -1), arr[3])); //涨幅比率


                            $("#v-dealQuantity").html(customDivide(arr[8], 100) + "手");
                            $("#v-dealAmount").html(customDivide(arr[9], 10000) + "万");


                            $("#v-buyQuantity-1").html(customDivide(arr[10], 100));
                            $("#v-buyPrice-1").html(arr[11]);
                            $("#v-buyQuantity-2").html(customDivide(arr[12], 100));
                            $("#v-buyPrice-2").html(arr[13]);
                            $("#v-buyQuantity-3").html(customDivide(arr[14], 100));
                            $("#v-buyPrice-3").html(arr[15]);
                            $("#v-buyQuantity-4").html(customDivide(arr[16], 100));
                            $("#v-buyPrice-4").html(arr[17]);
                            $("#v-buyQuantity-5").html(customDivide(arr[18], 100));
                            $("#v-buyPrice-5").html(arr[19]);

                            $("#v-saleQuantity-1").html(customDivide(arr[20], 100));
                            $("#v-salePrice-1").html(arr[21]);
                            $("#v-saleQuantity-2").html(customDivide(arr[22], 100));
                            $("#v-salePrice-2").html(arr[23]);
                            $("#v-saleQuantity-3").html(customDivide(arr[24], 100));
                            $("#v-salePrice-3").html(arr[25]);
                            $("#v-saleQuantity-4").html(customDivide(arr[26], 100));
                            $("#v-salePrice-4").html(arr[27]);
                            $("#v-saleQuantity-5").html(customDivide(arr[28], 100));
                            $("#v-salePrice-5").html(arr[29]);

                            $("#v-exHighPrice").html(exPriceCal(arr[21], 0.1));
                            $("#v-exLowPrice").html(exPriceCal(arr[21], -0.1));

                            $("#cp").val(arr[3]);

                            //可以购买数量
                            var ava = $("#availableAmount").val();
                            $("#buy-span").html(customerMultiply(calcAvq(ava, arr[3],),100,0));
                        }
                    }
                    )
                }
            }, 2000);

            //绑定买卖事件
            $(".business").bind("click", function () {
                if (!$(this).is('click')) {
                    $(".click").removeClass('click');
                    $(this).addClass('click')
                }
            });

            //绑定购买数量
            $(".deal-buy-btn").bind("click", function () {
                //检查数量

                if (parseInt($("#quantity").val()) % 100 != 0) {
                    alert("购买数量为100的整数倍!")
                    return
                }

                var quantity = $("#quantity").val();
                var buyPrice = $("#buyPrice").val();
                var stockCode = $("#stockCode").val();
                var url = $("#webpath").val() + "/trx/toEntrust"

                var trxType = 1
                if ($(".click").html() == '卖出') {
                    trxType = 0;
                }

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { 'quantity': quantity, 'buyPrice': buyPrice, 'trxType': trxType, 'stockCode': stockCode },
                    success: function (data) {
                        if (data.code == "200") {
                            window.location.href = $("#webpath").val() + "/trx/"
                            alert("委托成功")
                        } else {
                            alert("委托失败")
                        }
                    },
                    dataType: "json"
                })
            });
            //绑定选项卡事件
            $(".percent").bind("click",function(){
                var percent = $(this).get(0).lastElementChild.getAttribute("data")
                var ava = $("#buy-span").html();
                $("#quantity").val(customerMultiply(ava,percent,0))
            })

            //autocomplete
            var stocks = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: '/searchStock.htm'
            });

            $('.deal-list .typeahead').typeahead(null, {
                name: 'stocks',
                source: stocks
            });
        })

</script>

<div class="container">
    <input type="hidden" id="availableAmount" value="{{.ua.AvailableAmount}}" />

    <div class="left-cont">
        <div class="left-first">
            <div class="left-photo"></div>
            <div class="left-name">{{.user.UserName}}</div>
            <div class="left-id">用户Id:{{.user.Id}}</div>
            <div class="left-subscribe"><a href="/user/follow/{{.user.Id}}">订阅</a></div>
        </div>
        <div class="left-line"></div>
        <div class="left-second">
            <div class="left-second-h">TA的交易</div>
            <div class="h-my">我的持仓</div>
            <div class="h-my h-my-active">交易</div>
            <div class="left-second-h">我的交易</div>
            <div class="h-my">我的钱包</div>
            <div class="h-my">我的订阅</div>
            <div class="h-my">我的订单</div>
        </div>
    </div>
    <div class="right-cont">
        <div class="right-head">
            <div class="click business">买入</div>
            <div class="business">卖出</div>
            <input type="hidden" id="trxType" value="1">
        </div>
        <div class="deal-buy"
            <div class="buy deal-list">股票代码：<input class="typeahead deal-buy-input" id="stockCode" name="stockCode" type="text" placeholder="股票代码"></div>
            <div class="deal-list">委托价格：<input class="deal-buy-input" id="buyPrice" placeholder="委托价格" /><span class="buy-span"></span></div>
            <div class="deal-list">当前可买：<span class="buy-span" id="buy-span">0</span></div>
            <div class="deal-list">购买数量：<input id="quantity" class="deal-buy-input" name="quantity" placeholder="购买数量" value="" /> <span class="buy-span"></span></div>
            <div class="buy-choice">
                <div class="percent">
                    <div class="buy-click"></div>
                    <span class="pb" data="1">全部</span>
                </div>
                <div class="percent">
                    <div></div>
                    <span class="pb" data="0.5">1/2</span>
                </div>
                <div class="percent">
                    <div></div>
                    <span class="pb" data="0.3">1/3</span>
                </div>
                <div class="percent">
                    <div></div>
                    <span class="pb" data="0.25">1/4</span>
                </div>
                <div class="percent">
                    <div></div>
                    <span class="pb" data="0.2">1/5</span>
                </div>
            </div>
            <div class="deal-buy-money">
                <span>购买金额：</span>
                <span id="buyMoney"></span>
            </div>
            <div class="deal-buy-btn">委托交易</div>
        </div>
        <div class="right-big">
            <div class="deal-present">
                <div class="present-head">
                    <div class="present-head-left">
                        <span id="v-stockName"></span>
                        <span id="v-stockCode"></span>
                    </div>
                    <div class="present-head-right">
                        <div class="right-small">
                            <div><span id="v-float"></span></div>
                            <!-- 涨浮-->
                            <div><span id="v-floatRate"></span></div>
                            <!--浮动利率 -->
                        </div>
                    </div>
                    <div class="present-head-p">
                        <span id="v-currentPrice"></span>
                        <img src="/public/img/info3.png" />
                    </div>
                </div>
                <div class="present-detailed">
                    <div class="present-detailed-left">
                        <div class="detailed-left-up">
                            <div class="detailed-left-first">
                                <span>卖5（元/股）</span>
                                <span class="detailed-nub" id="v-salePrice-5"></span>
                                <span id="v-saleQuantity-5">></span>
                            </div>
                            <div class="detailed-left-first">
                                <span>卖4（元/股）</span>
                                <span class="detailed-nub" id="v-salePrice-4"></span>
                                <span id="v-saleQuantity-4"></span>
                            </div>
                            <div class="detailed-left-first">
                                <span>卖3（元/股）</span>
                                <span class="detailed-nub" id="v-salePrice-3"></span>
                                <span id="v-saleQuantity-3"></span>
                            </div>
                            <div class="detailed-left-first">
                                <span>卖2（元/股）</span>
                                <span class="detailed-nub" id="v-salePrice-2"></span>
                                <span id="v-saleQuantity-2"></span>
                            </div>
                            <div class="detailed-left-first">
                                <span> 卖1（元/股）</span>
                                <span class="detailed-nub" id="v-salePrice-1"></span>
                                <span id="v-saleQuantity-1"></span>
                            </div>
                        </div>
                        <div class="detailed-left-line"></div>
                        <div class="detailed-left-up">
                            <div class="detailed-left-first">
                                <span>买1（元/股）</span>
                                <span class="detailed-last" id="v-buyPrice-1"></span>
                                <span id="v-buyQuantity-1"></span>
                            </div>
                            <div class="detailed-left-first">
                                <span>买2（元/股）</span>
                                <span class="detailed-last" id="v-buyPrice-2"></span>
                                <span id="v-buyQuantity-2"></span>
                            </div>
                            <div class="detailed-left-first">
                                <span>买3（元/股）</span>
                                <span class="detailed-last" id="v-buyPrice-3"></span>
                                <span id="v-buyQuantity-3"></span>
                            </div>
                            <div class="detailed-left-first">
                                <span>买4（元/股）</span>
                                <span class="detailed-black" id="v-buyPrice-4"></span>
                                <span id="v-buyQuantity-4"></span>
                            </div>
                            <div class="detailed-left-first">
                                <span>买5（元/股）</span>
                                <span class="detailed-nub" id="v-buyPrice-5"></span>
                                <span id="v-buyQuantity-5"></span>
                            </div>
                        </div>
                        <div class="present-detailed-middle"></div>
                    </div>
                    <div class="present-detailed-right">
                        <div class="detailed-right-first">
                            <span>今  开：</span>
                            <span id="v-openPrice">20.79</span>
                        </div>
                        <div class="detailed-right-first">
                            <span>今  收：</span>
                            <span id="v-closePrice">20.79</span>
                        </div>
                        <div class="detailed-right-first">
                            <span>最  高：</span>
                            <span id="v-highPrice" class="detailed-nub">20.79</span>
                        </div>
                        <div class="detailed-right-first">
                            <span>最  低：</span>
                            <span id="v-lowPrice" class="detailed-last">20.79</span>
                        </div>
                        <div class="detailed-right-first">
                            <span>涨停价：</span>
                            <span id="v-exHighPrice" class="detailed-nub"></span>
                        </div>
                        <div class="detailed-right-first">
                            <span>跌停价：</span>
                            <span id="v-exLowPrice" class="detailed-last"></span>
                        </div>
                        <div class="detailed-right-first">
                            <span>成交额：</span>
                            <span id="v-dealAmount"></span>
                        </div>
                        <div class="detailed-right-first">
                            <span>成交量：</span>
                            <span id="v-dealQuantity"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deal-rule">
                <div class="deal-rule-head">
                    <span class="rule-head-rule">交易规则</span>
                    <img src="img/info3.png" />
                    <span class="rule-head-details">查看详情 </span>
                </div>
                <div class="right-rule-time">
                    <div class="deal-rule-time">
                        <span>1、</span>
                        <span>8：00至9：15</span>
                        <span>开盘处理，不接受委托；</span>
                    </div>
                    <div class="deal-rule-time">
                        <span>2、</span>
                        <span>8：00至9：15</span>
                        <span>开盘处理，不接受委托；</span>
                    </div>
                    <div class="deal-rule-time">
                        <span>3、</span>
                        <span>8：00至9：15</span>
                        <span>开盘处理，不接受委托；</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="bigline"></div>
        <div class="right-third">
            <div class="third-one">
                <div>当日委托</div>
            </div>
            <table class="right-table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>代码</th>
                        <th>买入/买出</th>
                        <th>委托状态</th>
                        <th>成交价格</th>
                        <th>成交数量(手)</th>
                        <th>成交金额</th>
                        <th>成交时间</th>
                    </tr>
                </thead>

                <tbody>
                    {{range .entrustList }}
                    <tr>
                        <td>{{.Id}}</td>
                        <td>{{.StockCode}}</td>
                        <!-- 0:已交易，1:委托中，2:已取消，3:没有交易 -->
                        <td>{{if eq .EntrustStatus 0}} 已交易 {{else if eq .EntrustStatus 1 }} 委托中 {{else if eq .EntrustStatus 2 }} 已经取消
                            {{else if .EntrustStatus 3 }} 没有交易 {{end}}</td>
                        <td>{{if eq .TransType 0}} 卖出 {{else}} 买进 {{end}}</td>
                        <td>{{.EntrustPrice}}</td>
                        <td>{{.EntrustNumber}}</td>
                        <td>{{.EntrustNumber}}</td>
                        <td>{{ FormatDateTime .EntrustTime}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{template "tail" .}}