{{template "header" .}}
{{template "nav" .}}
<script>

  $(function(){
  //商品选择
  $("#productType").bind("change",function(type){
       var url=$("#webpath").val()+"/product/"+$("#productType :selected").val()
        $.get(url,function(data){
            if (data.code == "200"){
                $("#price").html(data.data.Price)
            }else{
              $("#price").html("--")
            }
        })
  });

  //提交订单 
$("#buy").bind("click",function(){
    if ($("#productType").val() != -1){
        var url=$("#webpath").val()+"/user/follow/{{.i.Id}}/"+$("#productType").val()+"/"+$("#orderToken").val()
        window.location.href=url
    }
  })})

</script>
<input id="webpath" type="hidden" value="http://{{.webpath}}">
<input id="orderToken" type="hidden" value="{{.orderToken}}">
    
    <div id="body">
        <div class="step"></div>
        <div class="products">

            <table>
                <thead>
                    <tr>
                        <td>昵称 <td>
                        <td>订阅类型 <td>
                        <td>金额<td>
                        <td>操作<td>
                    </tr>
                </thead>
                <tbody>
     <tr>
        <td>{{.user2Follow.NickName}} <td>
        <td>
            <select id="productType" >
                 <option value="-1">选择类型</option>
                {{ range .products}}
                <option value="{{.Types}}">{{.Name}}</option>
                {{end}}
            </select> 
            <td>
        <td>
             <span id="price"></span>
         <td>
        <td>
            <input id="buy" type="button" value="确认下单">
            
                </tr>
            </tbody>
            </table>
        </div>
    <div>
     请仔细阅读订阅协议： <input type="checkbox" id="readContract" >

    </div>

    </div>
 {{template "tail"}}