{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/public/css/subscribe-second-steps.css" />
<script>
$(function(){
    $(".button-confirm").bind("click",function(){
	//    window.location.href= $("#webpath").val()+"/pay/alipay/{{.order.Id}}"
	   window.location.href= $("#webpath").val()+"/paydev/{{.order.Id}}"
	   

    })
})
</script>
    <div class="subscribe-container">
			<div class="subscribe-steps">
				<div class="steps-refer-box first-refer">
					<div class="steps-circle"></div>
					<div class="steps-pay steps-refer">第一步：提交订单</div>
				</div>
				<div class="steps-refer-box  second-pay steps-refer-active">
					<div class="steps-circle"></div>
					<div class="steps-pay steps-refer">第二步：订单支付</div>
				</div>
				<div class="steps-refer-box  third-complete">
					<div class="steps-circle"></div>
					<div class="steps-complete steps-refer">第三步：完成订单</div>
				</div>
			</div>
		</div>
		<div class="subscription-list">
			<div class="subscription-yes">
				<div class="congratulate-img">
					<img src="/public/img/yes.png" />
				</div>
				<div class="congratulate-total">
					<div class="congratulate-first">恭喜订阅成功！订阅号：{{.order.OrderSn}}</div>
					<div class="congratulate-second">请到我的订阅中查看</div>
				</div>
			</div>
			<div class="congratulate-first-line"></div>
			<div class="payoff-situation">
				<div class="choice-payoff">选择以下支付方式付款</div>
				<div class="choice-payoff-all">
					<div class="payoff-wei">
						<img src="/public/img/wei.png" />
						<span>微信支付</span>
					</div>
					<div class="payoff-zhi">
						<img src="/public/img/zhi.png" />
						<span>支付宝支付</span>
					</div>
					<div class="payoff-money">
						<span>支付金额：</span>
						<span class="money">{{.order.PayAmount}}元</span>
					</div>
				</div>
				<button type="button" class="button-confirm">确认付款</button>
			</div>
		</div>

{{template "tail"}}  