{{template "header" .}}

<!-- following is the dynamic content -->
<div class="homepage-bigbacg-bigbacg">
	<img src="/public/img/bg.png" />
</div>
</div>
<div class="hp-dh-list">
	<div class="hp-dh-list-bg">
		<img src="/public/img/bh.png" />
	</div>
	<div class="hp-dh-list-list ">
		{{range .news}}
		<div>{{.Title}}----{{.Content}} </div>
		{{end}}
	</div>
</div>

<div class="hp-recommend">
	<div class="hp-recommend-header">
		<div class="hp-recommend-header-img1">
			<img src="/public/img/first.png" />
		</div>
		<div class="hp-recommend-day">日冠军推荐</div>
		<div>
			<img src="/public/img/info3.png" />
		</div>
		<div class="hp-recommend-time">更新于{{.d_syncAt}}</div>
	</div>
	<table class="hp-recommend-table">
		<thead>
			<tr>
				<th>排名</th>
				<th>昵称</th>
				<th>股票代码</th>
				<th>收益率</th>
				<th>累计订阅量</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{range .dailyRanks }}
			<tr>
				<th>{{.Rank}}</th>
				<td>{{.NickName}}</td>
				<td>{{.StockCode}}</td>
				<td>{{.DayRate}}</td>
				<td>{{.TotalFollow}}</td>
				<td><span class="dy"><a href="/user/follow/{{.UserId}}">订阅</a></span></td>
			</tr>
			{{end}}
			</tr>
		</tbody>
	</table>
</div>
<div class="hp-recommend-line"></div>
<div class="hp-recommend">
	<div class="hp-recommend-header">
		<div class="hp-recommend-header-img1">
			<img src="/public/img/first2.png" />
		</div>
		<div class="hp-recommend-day">周冠军推荐</div>
		<div>
			<img src="/public/img/info3.png" />
		</div>
		<div class="hp-recommend-time">更新于{{.w_syncAt}}</div>
	</div>
	<table class="hp-recommend-table">
		<thead>
			<tr>
				<th>排名</th>
				<th>昵称</th>
				<th>股票代码</th>
				<th>收益率</th>
				<th>累计订阅量</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{range .weekRanks }}
			<tr>
				<th>{{.Rank}}</th>
				<td>{{.NickName}}</td>
				<td>{{.StockCode}}</td>
				<td class="text-strong">{{.WeekRate}}</td>
				<td>{{.TotalFollow}}</td>
				<td><span class="dy"><a href="/user/follow/{{.UserId}}">订阅</a></span></td>
			</tr>
			{{end}}
		</tbody>
	</table>

</div>
<div class="hp-recommend-line"></div>

<div class="hp-recommend">
	<div class="hp-recommend-header">
		<div class="hp-recommend-header-img1">
			<img src="/public/img/first3.png" />
		</div>
		<div class="hp-recommend-day">月冠军推荐</div>
		<div>
			<img src="/public/img/info3.png" />
		</div>
		<div class="hp-recommend-time">更新于{{.m_syncAt}}</div>
	</div>
	<table class="hp-recommend-table">
		<thead>
			<tr>
				<th>排名</th>
				<th>昵称</th>
				<th>股票代码</th>
				<th>收益率</th>
				<th>累计订阅量</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{range .monthRanks }}
			<tr>
				<th>{{.Rank}}</th>
				<td>{{.NickName}}</td>
				<td>{{.StockCode}}</td>
				<td class="text-strong">{{.MonthRate}}</td>
				<td>{{.TotalFollow}}</td>
				<td><span class="dy"><a href="/user/follow/{{.UserId}}">订阅</a></span></td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
{{template "tail" .}}