<nav class="jx_nav">
        <div class="wr jx_logo clearfix">
            <ul class="jx_logo_left fl">
                <li><a href="#">金修网络</a></li>
                <li><span class="jx_logo_title">国内最大的股票模拟平台</span></li>
            </ul>
            <div class="fr jx_search">
                <form action="">
                    <input type="text" class="jx_search_text">
                    <input type="button" value="高手搜索" class="jx_search_btn">
                </form>
            </div>
        </div>
        <div class="jx_nav_title wr">
            <ul class="fr jx_nav_text">
                <li><a href="#">首页</a></li>
                <li><a href="#">模拟排行榜</a></li>
                <li><a href="#">我要参赛</a></li>
                <li><a href="#">我的</a></li>
            </ul>
        </div>
</nav>
