<!-- {{template "header" .}} -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>金修网络</title>
    <script src="/public/js/jquery.js" /></script>
    <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/register.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/homepage.css" />
</head>

<body>
    <div class="homepage-header">
        <div class="homepage-hd-help">
            <span>帮助</span>
            <span>APP下载</span>
            <span>加入收藏</span>
            <span>东方财富网</span>
        </div>
        <div class="homepage-hd-login">
            <span>我的账户</span>
            <span class="homepage-mine"> 
                        {{if eq .login true}}<a href="logout.htm">注销</a>{{else}}<a href="register.htm">注册</a>{{end}}

                    </span>
        </div>
    </div>
    <div class="homepage-search">
        <div class="homepage-sch-logo">
            <img src="/public/img/logo.png" />
            <p>国内最大的股票模拟平台</p>
        </div>
        <div class="homepage-sch-sch">
            <span>高手搜索</span>
            <input type="text" name="" id="" value="" />
            <img src="/public/img/Search.png" />
        </div>
    </div>
    <div class="homepage-bigbacg">
        <div class="homepage-bigbacg-navigation">
            <span class="homepage-navigation-mine">我的</span>
            <span>我要参赛</span>
            <span>模拟排行榜</span>
            <span>首页</span>
        </div>
    </div>
    <div class="hp-recommend">
        <table class="hp-recommend-table">
            <thead>
                <tr>
                    <td>排名</td>
                    <td>昵称</td>
                    <td>总收益率</td>
                    <td>周收益率</td>
                    <td>月收益率</td>
                    <td>周冠军次数</td>
                    <td>近30最大收益个股</td>
                    <td>累计订阅量</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                {{range .ranks }}
                <tr>
                    <td>{{.Rank}}</td>
                    <td>{{.NickName}}</td>
                    <td>{{.EarningRate}}</td>
                    <td>{{.WeekRate}}</td>
                    <td>{{.MonthRate}}</td>
                    <td>{{.WeekXTimes}}</td>
                    <td>{{.StockCode}}</td>
                    <td>{{.TotalFollow}}</td>
                    <td><a  class="dy" href="/user/follow/{{.UserId}}">订阅</a></td>
                </tr>
                {{end}}
                </tr>
            </tbody>
        </table>
        {{template "pageable" .}}
    </div>
</body>
</html>