<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
        <meta http-equiv="refresh" content="5;url=index.htm"> 
		<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/register.css"/>
	</head>
	<body>
		<div class="register-cont">
			<div class="logo-box">
				<img src="/public/img/logo.png"/>
				<p>国内最大的股票模拟平台</p>
			</div>
			<!--注册成功-->
			<div class="register-box register-success">
				<img src="/public/img/register-success.png"/>
				<h1>注册成功</h1>
				<p class="time-toindex">5秒后跳转到首页;若无跳转，点击<a href="/index.htm"> 这里</a></p>
			</div>
		</div>
		<div class="register-footer">
			<p>Copyright © 2017, Jinxiu Networkl Co., Ltd. All Rights Reserved.金修网络有限公司法律声明隐私条款</p>
			<p>京ICP备14041720号-1京ICP证140622号京公网安备11010502025474</p>
		</div>
	</body>
</html>
