<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/subscribe-second-steps.css" />
	</head>

	<body>
		<div class="homepage-header">
			<div class="homepage-hd-help">
				<span>帮助</span>
				<span>APP下载</span>
				<span>加入收藏</span>
				<span>东方财富网</span>
			</div>
			<div class="homepage-hd-login">
				<span>我的账户</span>
				<span>注册</span>
				<span class="homepage-mine"></span>
				<span>登录</span>
			</div>
		</div>
		<div class="homepage-search">
			<div class="homepage-sch-logo">
				<img src="img/logo.png" />
				<p>国内最大的股票模拟平台</p>
			</div>
			<div class="homepage-sch-sch">
				<span>高手搜索</span>
				<input type="text" name="" id="" value="" />
				<img src="img/Search.png" />
			</div>
		</div>
		<div class="homepage-bigbacg">
			<div class="homepage-bigbacg-navigation">
				<span class="homepage-navigation-active">我的</span>
				<span>我要参赛</span>
				<span>模拟排行榜</span>
				<span>首页</span>
			</div>
		</div>

		<div class="hp-right-navigation">
			<div class="hp-right-block">
				<div>
					<img src="img/custom-service.png" />
				</div>
				<div>客服</div>
			</div>
			<div class="hp-right-block">
				<div>
					<img src="img/share3.png" />
				</div>
				<div>分享</div>
			</div>
			<div class="hp-right-block">
				<div>
					<img src="img/info.png" />
				</div>
				<div>消息</div>
			</div>
			<div class="hp-right-block">
				<div>
					<img src="img/public.png" />
				</div>
				<div>公众号</div>
			</div>
			<div class="hp-right-block">
				<div>
					<img src="img/app.png" />
				</div>
				<div>APP</div>
			</div>
		</div>
		<div class="subscribe-container">
			<div class="subscribe-steps">
				<div class="steps-refer-box first-refer">
					<div class="steps-circle"></div>
					<div class="steps-pay steps-refer">第一步：提交订单</div>
				</div>
				<div class="steps-refer-box  second-pay steps-refer-active">
					<div class="steps-circle"></div>
					<div class="steps-pay steps-refer">第二步：订单支付</div>
				</div>
				<div class="steps-refer-box  third-complete">
					<div class="steps-circle"></div>
					<div class="steps-complete steps-refer">第三步：完成订单</div>
				</div>
			</div>
		</div>
		<div class="subscription-list">
			<div class="subscription-yes">
				<div class="congratulate-img">
					<img src="img/yes.png" />
				</div>
				<div class="congratulate-total">
					<div class="congratulate-first">恭喜您订阅成功！</div>
					<div class="congratulate-second">请到我的订阅中查看</div>
				</div>
			</div>
			<div class="congratulate-first-line"></div>
			<div class="payoff-situation">
				<div class="choice-payoff">选择以下支付方式付款</div>
				<div class="choice-payoff-all">
					<div class="payoff-wei">
						<img src="img/wei.png" />
						<span>微信支付</span>
					</div>
					<div class="payoff-zhi">
						<img src="img/zhi.png" />
						<span>支付宝支付</span>
					</div>
					<div class="payoff-money">
						<span>支付金额：</span>
						<span class="money">698.00元</span>
					</div>
				</div>
				<button type="button" class="button-confirm">确认付款</button>
			</div>
		</div>

		<div class="hp-footer">
			<div class="hp-footer-declare">
				<p>
					客户服务热线：4006900000-2-2 欢迎批评指正
				</p>
				<p>
					常见问题解答 互联网违法和不良信息举报 金修意见反馈留言板
				</p>
				<p>
					金修简介 | About Sina | 广告服务 | 联系我们 | 招聘信息 | 网站律师 | JINXIU English | 通行证注册 | 产品答疑
				</p>
				<p>
					Copyright © 1996-2017 JINXIU Corporation, All Rights Reserved
				</p>
				<p>
					金修金融公司　版权所有
				</p>
			</div>
		</div>
	</body>
	<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>

</html>