<div class="hp-declare">
		<p>
			免责声明：金修金融将尽最大努力保证用户数据的安全性和私密性，但如因不可抗力造成用户数据丢失或错误，金修金融不承诺相关数据能100%恢复，
		</p>
		<p>
			敬请留意。如发现有用户通过非正常途径获取奖金，金修金融有权不发放奖金或直接冻结其原有奖金，而且永久取消兑奖资格。
		</p>
		<p>
			风险提示：金修金融任何用户或者嘉宾的言论，仅代表个人观点，并非平台观点，投资需要谨慎操作并且独立思考
		</p>
	</div>
	<div class="hp-footer">
		<div class="hp-footer-declare">
			<p>
				客户服务热线：4006900000-2-2 欢迎批评指正
			</p>
			<p>
				常见问题解答 互联网违法和不良信息举报 金修意见反馈留言板
			</p>
			<p>
				金修简介 | About Sina | 广告服务 | 联系我们 | 招聘信息 | 网站律师 | JINXIU English | 通行证注册 | 产品答疑
			</p>
			<p>
				Copyright © 1996-2017 JINXIU Corporation, All Rights Reserved
			</p>
			<p>
				金修金融公司　版权所有
			</p>
		</div>
	</div>
</body>
</html>