{{template "header" .}} {{ $r:=.r }} {{ $x:=.x }}
<script src="/public/js/echarts.common.min.js"></script>
<script src="/public/js/ecStat.js"></script>
<input type="hidden" id="uid" value="{{.user.Id}}"/>
<input type="hidden" id="nickName" value="{{.user.NickName}}"/>

<div class="container">
    <div class="left-cont">
        <div class="left-first">
            <div class="left-photo"></div>
            <div class="left-name">{{.user.NickName}}</div>
            <div class="left-id">用户id: {{.user.Id}}</div>
            {{if eq .self true}}{{else}}
            <div class="left-subscribe"><a href="/user/follow/{{.user.Id}}">订阅</a>/div>{{end}}
            </div>
            <div class="left-line"></div>
            <div class="left-second">
                <div class="left-second-h">TA的交易</div>
                <div class="h-my h-my-active">我的持仓</div>
                <div class="h-my">交易</div>
                <div class="left-second-h">我的交易</div>
                <div class="h-my">我的钱包</div>
                <div class="h-my">我的订阅</div>
                <div class="h-my">我的订单</div>
            </div>
        </div>
        <div class="right-cont">
            <div class="right-first">
                <div class="right-revenue">
                    <div class="right-h1">总收益：<span>{{.userAccount.Earning}}</span></div>
                    <div class="right-firstline"></div>
                    <ul class="right-firstul">
                        <li>总资产：<span>{{.userAccount.TotalAmount}}</span></li>
                        <li>可用资金：<span>{{.userAccount.AvailableAmount}}</span></li>
                        <li>周收益率：<span>{{ FormatRate 0.345}}</span></li>
                        <li>月收益率：<span>{{ FormatRate 0.33}}</span></li>
                        <li>周冠军次数：<span>{{.userAccount.WeekTimes}}</span></li>
                    </ul>
                </div>
                <div class="right-ranking">
                    <div class="right-h1">总收益排名：<span>{{.userAccount.Rank}}</span></div>
                    <div class="right-firstline one"></div>
                    <ul class="right-secondul">
                        <li>当日收益率：<span>10%</span></li>
                        <li>当日盈亏：<span>10%</span></li>
                        <li>周排行：<span>{{.weekRank.Rank}}</span></li>
                        <li>月排行：<span>{{.monthRank.Rank}}</span></li>
                        <li>月冠军次数：<span>{{.userAccount.MonthTimes}}</span></li>
                    </ul>
                </div>
                <div class="right-chart ">
                    <div class="right-firstline two"></div>
                    <div class="right-curve chart2" id="chart2"></div>
                    <div class="curve-percent">
                        <div>本周击败了<span>99</span>%的高手</div>
                        <div>本周击败了<span>99</span>%的高手</div>
                    </div>
                </div>
            </div>
            <div class="bigline"></div>
            <div class="right-second">
                <div id="chart1" class="first-round chart1"></div>
                <ul class="second-explain">
                    <li>盈利笔数：<span>0</span>笔</li>
                    <li>亏损笔数：<span>0</span>笔</li>
                    <li>成功率：<span>--</span>%</li>
                    <li>交易频率：<span>1.1</span>（天/次）</li>
                </ul>
            </div>
            <div class="bigline"></div>
            <div class="right-third">
                <div class="third-one">
                    <div class="now-active">当日持仓</div>
                    <div>单日委托</div>
                    <div>单日成交</div>
                    <div>历史成绩</div>
                    <div>对账单</div>
                </div>
                <div class="third-time">
                    <div class="time">从<input type="date" value="2016-09-09"/>到<input type="date" value="2016-09-09"/>
                    </div>
                    <div class="inquiry">查询</div>
                </div>
                <table class="right-table">
                    <thead>
                    <tr>
                        <td>股票代码</td>
                        <td>交易类型</td>
                        <td>交易数量</td>
                        <td>交易价格</td>
                        <td>交易时间</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .trxs }}
                    <tr>
                        <td>{{.StockCode}}</td>
                        <td class="red"> {{if eq .TransType 0}} 卖出 {{else}} 买进 {{end}}
                        </td>
                        <td>{{if eq .TransType 0}}-{{else}}+{{end}}{{ .TransNumber}}</td>
                        <td>{{.TransPrice}}</td>
                        <td class="exchange-hour">{{ FormatDateTime .TransTime}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/ua.js"></script>
{{template "tail" .}}