{{template "header" .}} {{ $r:=.r }} {{ $x:=.x }}
<script src="/public/js/echarts.common.min.js"></script>
<script src="/public/js/ecStat.js"></script>
<input id="webpath" type="hidden" value="http://{{.webpath}}">
<input type="hidden" id="uid" value="{{.ua.UserId}}"/>
<input type="hidden" id="nickName" value="{{.user.NickName}}"/>
<div class="hp-right-navigation">
    <div class="hp-right-block">
        <div>
            <img src="/public/img/custom-service.png"/>
        </div>
        <div>客服</div>
    </div>
    <div class="hp-right-block">
        <div>
            <img src="/public/img/share3.png"/>
        </div>
        <div>分享</div>
    </div>
    <div class="hp-right-block">
        <div>
            <img src="/public/img/info.png"/>
        </div>
        <div>消息</div>
    </div>
    <div class="hp-right-block">
        <div>
            <img src="/public/img/public.png"/>
        </div>
        <div>公众号</div>
    </div>
    <div class="hp-right-block">
        <div>
            <img src="/public/img/app.png"/>
        </div>
        <div>APP</div>
    </div>
</div>
<div class="container">
    <div class="left-cont">
        <div class="left-first">
            <div class="left-photo"></div>
            <div class="left-name">{{.user.NickName}}</div>
            <div class="left-id">用户id: {{.user.Id}}</div>
            {{if eq .self true}}{{else}}
            <div class="left-subscribe"><a href="/user/follow/{{.user.Id}}">订阅</a>/div>{{end}}
            </div>
            <div class="left-line"></div>
            <div class="left-second">
                <div class="left-second-h">TA的交易</div>
                <div class="h-my h-my-active">我的持仓</div>
                <div class="h-my">交易</div>
                <div class="left-second-h">我的交易</div>
                <div class="h-my">我的钱包</div>
                <div class="h-my">我的订阅</div>
                <div class="h-my">我的订单</div>
            </div>
        </div>
        <div class="right-cont">
            <div class="right-first">
                <div class="right-revenue">
                    <div class="right-h1">总收益：<span>{{.userAccount.Earning}}</span></div>
                    <div class="right-firstline"></div>
                    <ul class="right-firstul">
                        <li>总资产：<span>{{.userAccount.TotalAmount}}</span></li>
                        <li>可用资金：<span>{{.userAccount.AvailableAmount}}</span></li>
                        <li>周收益率：<span>{{ FormatRate 0.345}}</span></li>
                        <li>月收益率：<span>{{ FormatRate 0.33}}</span></li>
                        <li>周冠军次数：<span>{{.userAccount.WeekTimes}}</span></li>
                    </ul>
                </div>
                <div class="right-ranking">
                    <div class="right-h1">总收益排名：<span>{{.userAccount.Rank}}</span></div>
                    <div class="right-firstline one"></div>
                    <ul class="right-secondul">
                        <li>当日收益率：<span>10%</span></li>
                        <li>当日盈亏：<span>10%</span></li>
                        <li>周排行：<span>{{.weekRank.Rank}}</span></li>
                        <li>月排行：<span>{{.monthRank.Rank}}</span></li>
                        <li>月冠军次数：<span>{{.userAccount.MonthTimes}}</span></li>
                    </ul>
                </div>
                <div class="right-chart ">
                    <div class="right-firstline two"></div>
                    <div class="right-curve" id="chart2" style="width:height:200px;"></div>
                    <div class="curve-percent">
                        <div>本周击败了<span>99</span>%的高手</div>
                        <div>本周击败了<span>99</span>%的高手</div>
                    </div>
                </div>
            </div>
            <div class="bigline"></div>
            <div class="right-second">
                <div id="chart1" style="width: 250px;height:250px;" class="first-round"></div>
                <ul class="second-explain">
                    <li>盈利笔数：<span>0</span>笔</li>
                    <li>亏损笔数：<span>0</spn>笔</li>
                    <li>成功率：<span>--</span>%</li>
                    <li>交易频率：<span>1.1</span>（天/次）</li>
                </ul>
            </div>
            <div class="bigline"></div>
            <div class="right-third">
                <div class="third-one">
                    <div class="now-active">当日持仓</div>
                    <div>单日委托</div>
                    <div>单日成交</div>
                    <div>历史成绩</div>
                    <div>对账单</div>
                </div>
                <div class="third-time">
                    <div class="time">从<input type="date" value="2016-09-09"/>到<input type="date" value="2016-09-09"/>
                    </div>
                    <div class="inquiry">查询</div>
                </div>
                <table class="right-table">
                    <thead>
                    <tr>
                        <td>股票代码</td>
                        <td>交易类型</td>
                        <td>交易数量</td>
                        <td>交易价格</td>
                        <td>交易时间</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .trxs }}
                    <tr>
                        <td>{{.StockCode}}</td>
                        <td class="red"> {{if eq .TransType 0}} 卖出 {{else}} 买进 {{end}}
                        </td>
                        <td>{{if eq .TransType 0}}-{{else}}+{{end}}{{ .TransNumber}}</td>
                        <td>{{.TransPrice}}</td>
                        <td class="exchange-hour">{{ FormatDateTime .TransTime}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="hp-footer">
        <div class="hp-footer-declare">
            <p>
                客户服务热线：4006900000-2-2 欢迎批评指正
            </p>
            <p>
                常见问题解答 互联网违法和不良信息举报 金修意见反馈留言板
            </p>
            <p>
                金修简介 | About Sina | 广告服务 | 联系我们 | 招聘信息 | 网站律师 | JINXIU English | 通行证注册 | 产品答疑
            </p>
            <p>
                Copyright © 1996-2017 JINXIU Corporation, All Rights Reserved
            </p>
            <p>
                金修金融公司　版权所有
            </p>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        //init the ranking chart
        //******************************************************************************
        var echart1 = echarts.init(document.getElementById('chart1'));
        echart1.showLoading({
            text: '正在努力加载中...'
        });

        var values = [];
        // 同步执行
        $.ajaxSettings.async = false;

        // 加载数据
        var path = $("#webpath").val() + '/user/trxRate/{{.user.Id}}'
        $.getJSON(path, function (json) {
            if (json.code == "200") {
                values = json.data;
                echart1.hideLoading()
            }
        });
        // 指定图表的配置项和数据
        option = {
            title: {
                text: '{{.user.NickName}}的交易情况',
                subtext: '',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['盈利笔数', '亏损笔数']
            },
            series: [
                {
                    name: nickName + '的交易情况',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: values,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        echart1.setOption(option);
        //******************************************************************************
        var echart2 = echarts.init(document.getElementById('chart2'));
        $.getJSON($("#webpath").val() + '/user/rankDataChart/{{.user.Id}}', function (json) {

            var data = json.data

            var myRegression = ecStat.regression('exponential', data);
            myRegression.points.sort(function (a, b) {
                return a[0] - b[0];
            });

            echart2.setOption({
                title: {
                    text: '{{.user.NickName}}周排名变化',
                    left: 'center',
                    top: 21
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                xAxis: {
                    type: 'value',
                    min: 10,
                    splitLine: {
                        lineStyle: {
                            type: 'dashed'
                        }
                    },
                },
                yAxis: {
                    type: 'value',
                    min: 1,
                    splitLine: {
                        lineStyle: {
                            type: 'dashed'
                        }
                    },
                },
                series: [{
                    name: '周',
                    type: 'scatter',
                    show: false,
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    data: data
                }, {
                    name: '排名',
                    type: 'line',
                    showSymbol: false,
                    data: myRegression.points,
                    markPoint: {
                        itemStyle: {
                            normal: {
                                color: 'transparent'
                            }
                        },
                        label: {
                            normal: {
                                show: false,
                                position: 'left',
                                formatter: myRegression.expression,
                                textStyle: {
                                    color: '#333',
                                    fontSize: 14
                                }
                            }
                        },
                        data: [{
                            coord: myRegression.points[myRegression.points.length - 1]
                        }]
                    }
                }]
            });
        });
    </script>
    </body>
    </html>